<h4>{{ 'label.PLRT02.ProgramName' | translate}}</h4>
<!-- Criteria Section -->
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.ALL.Search' | translate }}">
            <div class="card-content">
                <form #criteria [formGroup]="searchForm">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-4 col-sm-12">
                            <auto-complete [showDescription]="false" [onSearch]="onSearchGroupCust"
                                formControlName="custCode" placeholder="{{ 'label.ALL.PleaseSelectAuto' | translate }}">
                                {{ 'label.PLRT02.KeywordCust' | translate }}
                            </auto-complete>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <textbox formControlName="keyword"
                                placeholder="{{ 'label.PLRT02.ReleaseCode' | translate }}, {{ 'label.PLRT02.ReleaseName' | translate }}, {{ 'label.PLRT02.KeywordEtc' | translate }} ">
                                {{ 'label.PLRT02.Keyword' | translate }}
                            </textbox>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <radio [items]="radioStatus" [inline]="true" formControlName="active">
                                {{ 'label.PLRT02.Status' | translate }}
                            </radio>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-sm-12 text-center">
                            <button class="btn btn-primary" (click)="util.focusInvalid(criteria); searchFunction()">
                                <i class="fas fa-search"></i>
                                {{ 'label.ALL.Search' | translate }}
                            </button>
                            <button class="btn btn-outline-primary" (click)="clear();">
                                <i class="fas fa-eraser"></i>
                                {{ 'label.ALL.Clear' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>
<!-- Search Result Grid Section -->
<div class="row">
    <div class="col">
        <app-card header="{{ 'label.PLRT02.DataRelease' | translate }}">
            <div class="card-menu">
                <button class="btn btn-primary" (click)="addFunction()">
                    <i class="fas fa-plus-circle"></i> {{ 'label.ALL.Add' | translate }}
                </button>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col">
                        <app-table [rows]="plRelease" [page]="page" (onTableEvent)="search()">
                            <ngx-datatable-column prop="releaseCode" [width]="80" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.ReleaseCode' | translate }}</label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a [routerLink]="['detail']"
                                        [state]="{custCode: row.custCode, releaseCode: row.releaseCode}">
                                        {{ row.releaseCode }}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="releaseName" [width]="200">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.ReleaseName' | translate }}</label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.releaseName }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="releaseShortName" [width]="100" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.ReleaseShortName' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.releaseShortName }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="startDate" [width]="200" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.StartDate' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.startDate | thaidate }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="price" [width]="50" [cellClass]="'text-right'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.Price' | translate }}</label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.price | number:'0.2-2' }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="remark" [width]="150">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.PLRT02.Remark' | translate }}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.remark }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="active" [width]="50" [cellClass]="'text-center'">
                                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper" (click)="sort()">
                                        {{ 'label.ALL.Active' | translate}}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <i *ngIf="row.active === 'Y'" class="fas fa-check"></i>
                                    <i *ngIf="row.active === 'N'" class="fas fa-times"></i>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column cellClass="text-center" [width]="50" [sortable]="false">
                                <ng-template ngx-datatable-header-template>
                                    <label class="datatable-header-cell-wrapper"> {{ 'label.ALL.Delete' | translate }}
                                    </label>
                                </ng-template>
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                    <button class="btn btn-outline-danger btn-sm"
                                        (click)="remove(row.custCode, row.releaseCode, row.rowVersion)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </app-table>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>