<label *ngIf="hasLabel"><ng-content></ng-content><span *ngIf="required" class="text-danger"> *</span></label>
<input type="text" #textBox  [placeholder]="placeholder" [disabled]="disabled" class="form-control text-right" [ngClass]="class"  [class.is-invalid]="hasErrors" [class.form-control-sm]="small"  (blur)="onTouched()">
<div class="invalid" *ngIf="hasErrors">
        <div *ngIf="control.hasError('required') ">
            กรุณาระบุ
        </div>
        <div *ngIf="control.hasError('min') ">
            ห้ามน้อยกว่า {{ control.errors.min.min }}
        </div>
        <div *ngIf="control.hasError('max') ">
            กรุณาระบุไม่เกิน {{ control.errors.max.max }}
        </div>
        <div *ngIf="control.hasError('exact') ">
            กรุณาระบุ {{ control.errors.exact.requiredLength }} หลัก
        </div>
        <div *ngIf="control.hasError('duplicate') ">
            {{'message.SQL23505' | translate}}
        </div>
        <ng-container *ngIf="control.hasError('custom')">
            <ng-content select=".invalid-custom">
            </ng-content>
        </ng-container>
</div>
