<toolbar>
  <button class="btn btn-primary" (click)="util.focusInvalid(header); save()" [disabled]="!isFormDirty() || permission.isReadOnly">
    <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
    <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate }}</button>
</toolbar>

<h4>{{ 'label.SURT04.ProgramName' | translate }}</h4>
<!-- ########## Master Form ########## -->
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.SURT04.ProfileDetail' | translate }}">
      <div class="card-content">
        <form #header [formGroup]="profileForm">
          <div class="form-row">
            <div class="form-group col-md-2 col-sm-6">
              <textbox class="text-center" formControlName="profileId">{{ 'label.SURT04.ProfileId' | translate }} </textbox>
            </div>
            <div class="form-group col-md-2 col-sm-6">
              <textbox class="text-center" formControlName="code">{{ 'label.SURT04.ProfileCode' | translate }}</textbox>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              <textbox formControlName="profileName">{{ 'label.SURT04.ProfileName' | translate }}</textbox>
            </div>
            <div class="form-group col-md-2 col-sm-6">
              <checkbox formControlName="active">{{ 'label.SURT04.Active' | translate }}</checkbox>
            </div>
            <div class="form-group col-md-12 col-sm-12">
              <textbox formControlName="description">{{ 'label.SURT04.Description' | translate }}</textbox>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>

<!-- ########## Detail Form ########## -->
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.SURT04.MenuDetail' | translate }}">
      <div class="card-menu">
        <button class="btn btn-primary" (click)="selectMenus()" [disabled]="permission.isReadOnly">
          <i class="fas fa-plus-circle"></i> {{ 'label.ALL.Add' | translate }}
        </button>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col">
            <app-table-client #profileMenuTable [rows]="suProfile.profileMenuDto">
              <ngx-datatable-column width="150" cellClass="text-center">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.SURT04.MenuCode' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" let-index="rowIndex" ngx-datatable-cell-template>
                  {{ row.form.controls.menuId.value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column width="250">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.SURT04.MenuName' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" let-index="rowIndex" ngx-datatable-cell-template>
                  {{ row.form.controls.menuName.value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="50" [cellClass]="'text-center'">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.SURT04.WriteFlag' | translate}}</label>
                </ng-template>
                <ng-template let-row="row" let-index="rowIndex" ngx-datatable-cell-template>
                  <div [formGroup]="row.form">
                    <checkbox formControlName="isAllFlag" [hasLabel]="false" [small]="true"></checkbox>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [cellClass]="'text-center'" width="25">
                <ng-template ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper">{{ 'label.ALL.Delete' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <button (click)="removeSuProfileMenu(row)" class="btn btn-outline-danger btn-sm" [disabled]="permission.isReadOnly">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </app-table-client>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>