<toolbar>
    <button class="btn btn-primary" [disabled]="!isFormDirty()" (click)="util.focusInvalid(header); save()">
      <i class="fas fa-cog fa-spin" [hidden]="!saving"></i>
      <i class="fas fa-save" [hidden]="saving"></i> {{ 'label.ALL.Save' | translate}}
    </button>
</toolbar>

<h4>{{ 'label.SURT01.ProgramName' | translate }}</h4>
<div class="row">
  <div class="col">
    <app-card header="{{ 'label.SURT01.DataSuType' | translate }}">
      <div class="card-content">
        <form #header [formGroup]="suUserForm">
          <div class="mt-3">
            <div class="form-row">
              <div class="col-md-4 text-center">
                <div class="form-group col-md-12 col-sm-12 row-8">
                  <img
                    src = "..\..\..\..\..\assets\images\no-profile-256.png"
                    class="img-fluid"
                    width="200"
                    height="200"
                    alt=""
                  />
                </div>
              </div>

              <div class="col-md-8">
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12 pr-1">
                    <textbox formControlName="id" class="text-center">{{ 'label.SURT01.UserID' |
                      translate }}
                    </textbox>
                  </div>
                  <div class="form-group col-md-6 col-sm-12 pl-1">
                    <textbox formControlName="userName" class="text-left">{{ 'label.SURT01.UserName' |
                      translate }}
                    </textbox>
                  </div>
                </div>

                <div class="mt-3">
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12 pr-1">
                    <textbox formControlName="empId" class="text-center">{{ 'label.SURT01.EmpID' |
                      translate }}
                    </textbox>
                  </div>
                  <div class="form-group col-md-6 col-sm-12 pl-1" style="margin-top: 8px;">
                    <checkbox formControlName="activeBool">&nbsp;{{ 'label.ALL.Active' | translate }}</checkbox>
                  </div>
                </div>
                </div>

                <div class="mt-3">
                <div class="row">
                  <div class="form-group col-md-4 col-sm-12 pr-0">
                    <auto-complete [showDescription]="false" [onSearch]="onSearchGetPreNameFromId" formControlName="preNameId"
                      placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                      {{ 'label.SURT01.PreNameID' | translate }}
                    </auto-complete>
                  </div>
                  <div class="form-group col-md-4 col-sm-12 pl-2 pr-1">
                    <textbox formControlName="age" class="text-center">{{ 'label.SURT01.Age' |
                      translate }}
                    </textbox>
                  </div>
                  <div class="form-group col-md-4 col-sm-12 pl-1">
                    <select-input 
                      [items]="genderItems" 
                      placeholder="{{ 'label.ALL.PleaseSelect' | translate }}"
                      formControlName="sex">
                      {{ 'label.SURT03.Sex' | translate }}
                    </select-input>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>  

          <div class="mt-4">
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <textbox formControlName="tFirstName" class="text-left">{{ 'label.SURT01.TFirstName' |
                  translate }}
                </textbox>
              </div>
              <div class="form-group col-md-6 col-sm-12">
                <textbox formControlName="tLastName" class="text-left">{{ 'label.SURT01.TLastName' |
                  translate }}
                </textbox>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <textbox formControlName="eFirstName" class="text-left">{{ 'label.SURT01.EFirstName' |
                  translate }}
                </textbox>
              </div>
              <div class="form-group col-md-6 col-sm-12">
                <textbox formControlName="eLastName" class="text-left">{{ 'label.SURT01.ELastName' |
                  translate }}
                </textbox>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-row">
              <div class="form-group col-md-4 col-sm-12">
              <datepicker formControlName="birthday">
                {{ 'label.SURT01.Birthdate' | translate }}
              </datepicker>
            </div>
              <div class="form-group col-md-4 col-sm-12">
                <textbox formControlName="email" class="text-left">{{ 'label.SURT01.Email' |
                  translate }}
                </textbox>
              </div>
              <div class="form-group col-md-4 col-sm-12">
                <textbox formControlName="telephone" class="text-center">{{ 'label.SURT01.Telephone' |
                  translate }}
                </textbox>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-row">
              <div class="form-group col-md-12 col-sm-12">
                <textbox formControlName="address" class="text-left">{{ 'label.SURT01.Address' |
                  translate }}
                </textbox>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <auto-complete [showDescription]="false" [onSearch]="onSearchGetPosition" formControlName="position"
                  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                  {{ 'label.SURT01.Position' | translate }}
                </auto-complete>
              </div>
              <div class="form-group col-md-6 col-sm-12">
                <auto-complete [showDescription]="false" [onSearch]="onSearchGetEmpType" formControlName="typeId"
                  placeholder="{{ 'label.ALL.PleaseSelect' | translate }}">
                  {{ 'label.SURT01.EmpType' | translate }}
                </auto-complete>
              </div>
            </div>
          </div>

          <div class="mt-3 mb-3">
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
              <datepicker formControlName="personalDate" [max]="workEndDate">
                {{ 'label.SURT01.PersonalDate' | translate }}
              </datepicker>
            </div>
            <div class="form-group col-md-6 col-sm-12">
              <datepicker formControlName="personalExpDate" [min]="workStartDate">
                {{ 'label.SURT01.PersonalExpDate' | translate }}
              </datepicker>
            </div>
            </div>
          </div>

        </form>
      </div>
    </app-card>
  </div>
</div>