<h4>{{ 'label.DPDT02.IDP' | translate }}</h4>

<div class="row">
  <div class="col">
    <app-card header="{{ 'label.ALL.Search' | translate }}">
      <div class="card-content">
        <form #criteria [formGroup]="searchForm">
          <div class="form-row justify-content-left">
            <div class="form-group col-md-6 col-sm-12">
              <textbox formControlName="keyword" placeholder="{{ 'label.DPDT02.SearchKeyword' | translate }}">
                {{ 'label.DPDT02.Keyword' | translate }}
              </textbox>
            </div>
            <div class="form-group col-md-3 col-sm-6"> 
              <select-input formControlName="status" [items]="masterData.status" placeholder="">
                {{ 'label.DPDT02.Status' | translate }}
              </select-input>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-12 col-sm-12 text-center mt-1 ">
              <button class="btn btn-primary" (click)="util.focusInvalid(criteria); searchFunction()"><i
                  class="fas fa-search"></i>
                {{ 'label.ALL.Search' | translate }}</button>
              <button class="btn btn-outline-primary" (click)="clear();"><i class="fas fa-eraser"></i>
                {{ 'label.ALL.Clear' | translate }}</button>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-card header="{{ 'label.DPDT02.TrasactionMasterData' | translate }}
    ">
      <div class="card-menu">
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col">
            <app-table [rows]="dpEvaluationMasters" [page]="page" (onTableEvent)="search()">

              <ngx-datatable-column prop="evaNo" [width]="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.TransNo' | translate}}
                  </label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a [routerLink]="['detail']" [state]="{transNo: row.transNo}">{{ row.transNo | translate }}</a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="evaluationYearsPeriod" [width]="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()"> {{ 'label.DPDT02.Year' | translate
                    }}/{{ 'label.DPDT02.Period' | translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.evaluationYearsPeriod }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="totalScore" [width]="10" [cellClass]="'text-right'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.TotolScroe' | translate
                    }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.totalScore | number: '0.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="nextEvaluators" [width]="50" [cellClass]="'text-left'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.isLastEvaluator' |
                    translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ row.NextEvaluators | translate
                    }}</label>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="submitDate" [width]="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.SubmiteDate' |
                    translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.submitDate | thaidate }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="refTranNo" [width]="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.evaNo' | translate
                    }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ row.refTranNo | translate }}</label>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="empId" [width]="150" [cellClass]="'text-left'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.employeeName' |
                    translate }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.empId }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="totalScoreEmp" [width]="15" [cellClass]="'text-right'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.totalScoreEmp' |
                    translate
                    }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.totalScoreEmp | number: '0.2-2' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="status" [width]="50" [cellClass]="'text-center'">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                  <label class="datatable-header-cell-wrapper" (click)="sort()">{{ 'label.DPDT02.Status' | translate
                    }}</label>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div style="margin-top:-15px">
                    <status [status]="row.status" [color]="row.statusColor">
                    </status>
                  </div>
                </ng-template>
              </ngx-datatable-column>


            </app-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>